@*
*@
@{
    ViewData["Title"] = "Home page";
}

@*<h1>Ini Judul</h1>
    <h2>Contoh Navigasi</h2>

    <p>Ini Contoh Paragraf</p><br />

    <a href="">ini link 1</a>
    <a href="">ini link 2</a>
    <a href="">ini link 3</a>

    <section id="sectionB"></section>*@

@*<div class="satu">1</div>
    <div class="dua">2</div>
    <div class="tiga">3</div>*@


@*<div class="kotak">
    <div class="satu">position1</div>
    <div class="dua">position2</div>
    <div class="tiga">position3</div>
    <div class="empat">position4</div>
    <p>
    </p>
</div>*@

@*<h1 id="title">Ini Judul</h1>
<div id="container">
    <section id="a">
        <p class="p1">paragraf1</p>
        <p class="paragraf2">paragraf2</p>
        <p class="paragraf3">paragraf3</p>
        <a href="" class="link">Link1</a>
    </section>
    <section id="b">
        <p class="paragraf4">paragraf4</p>
        <div id="a">
            <ul>
                <li id="item1">item1</li>
                <li>item2</li>
                <li>item3</li>
            </ul>
        </div>
    </section>
    <section id="c">C</section>
</div>*@

@*<h1 class="mt-5 mb-3 text-center">JUDUL</h1>
<p class="text-center">Ini Judul Bootstrap</p>
<div class="container-fluid">
    <div class="row my-5">
        <div class="col-lg-6" id="p1">
            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod,
            iaculis eu lacus nunc mi elit, vehicula ut laoreet ac,aliquam sit amet justo nunc tempor, metus vel.
            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod,
            iaculis eu lacus nunc mi elit, vehicula ut laoreet ac,
            aliquam sit amet justo nunc tempor, metus vel.
        </div>
        <div class="col-sm-6">
            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod,
            iaculis eu lacus nunc mi elit, vehicula ut laoreet ac,
            aliquam sit amet justo nunc tempor, metus vel.
            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod,
            iaculis eu lacus nunc mi elit, vehicula ut laoreet ac,
            aliquam sit amet justo nunc tempor, metus vel.
            <div class="row">
                <div class="col-12 mt-1" id="p2">
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod,
                    iaculis eu lacus nunc mi elit, vehicula ut laoreet ac,
                    aliquam sit amet justo nunc tempor, metus vel.
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod,
                    iaculis eu lacus nunc mi elit, vehicula ut laoreet ac,
                    aliquam sit amet justo nunc tempor, metus vel.
                </div>
            </div>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-6">
            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod,
            iaculis eu lacus nunc mi elit, vehicula ut laoreet ac,
            aliquam sit amet justo nunc tempor, metus vel.
            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod,
            iaculis eu lacus nunc mi elit, vehicula ut laoreet ac,
            aliquam sit amet justo nunc tempor, metus vel.
        </div>
        <div class="col-6">
            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod,
            iaculis eu lacus nunc mi elit, vehicula ut laoreet ac,
            aliquam sit amet justo nunc tempor, metus vel.
            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod,
            iaculis eu lacus nunc mi elit, vehicula ut laoreet ac,
            aliquam sit amet justo nunc tempor, metus vel.
        </div>
    </div>
    <div class="row my-5">
        <div class="col-12 text-center">
            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod,
            iaculis eu lacus nunc mi elit, vehicula ut laoreet ac,
            aliquam sit amet justo nunc tempor, metus vel.
            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod,
            iaculis eu lacus nunc mi elit, vehicula ut laoreet ac,
            aliquam sit amet justo nunc tempor, metus vel.
        </div>
    </div>
    <a class="btn btn-primary" id="tombol">Ini Tombol</a>
</div>*@

<h2>Star Wars</h2>
<table class="table-striped table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Height</th>
            <th>Gender</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="tableSW">

    </tbody>
</table>
<div class="modal fade" id="modalSW" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalStar">
                <tbody>
                    <tr>

                    </tr>
                </tbody>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>